@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #f92672;
    --sh-comment: #a0ada0;
    --sh-jsxliterals: #6266d1;

    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;

    --color-background: 255 255 255;
    --color-foreground: 0 0 0;

    --color-background-tertiary: 250 250 250;

    --color-border: 233 233 233;
    --color-input: 210 210 210;
  }

  [data-theme="dark"] {
    --sh-class: #4c97f8;
    --sh-identifier: #white;
    --sh-sign: #8996a3;
    --sh-string: #0dba9f;
    --sh-keyword: #f92672;
    --sh-comment: #a0ada0;
    --sh-jsxliterals: #6266d1;

    --color-primary: 153 153 0;
    --color-secondary: 111 114 185;

    --color-background: 0 0 0;
    --color-foreground: 255 255 255;

    --color-background-tertiary: 24 24 24;

    --color-border: 36 36 36;
    --color-input: 64 64 64;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  html,
  body {
    @apply bg-white;
  }

  html {
    @apply overflow-hidden scroll-smooth antialiased;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply font-sans text-base text-foreground;
  }

  article {
    @apply flex flex-col;
  }

  p {
    @apply mb-6;
  }

  a,
  button {
    @apply cursor-pointer outline-none;
  }

  a {
    @apply transition-colors duration-300;
  }

  button:focus {
    @apply outline-none;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-16 font-semibold tracking-tighter text-black lg:scroll-mt-8;
  }

  h1 {
    @apply text-2xl md:text-3xl dark:text-white;
  }

  h2 {
    @apply text-lg md:text-xl  dark:text-white;
  }

  h3 {
    @apply md:text-lg dark:text-white;
  }

  h4 {
    @apply text-base md:text-lg dark:text-white;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  ol > li::marker {
    @apply font-semibold;
  }

  ul > li {
    @apply pl-2;
  }

  ul > li::marker {
    @apply text-gray-400;
  }

  li div {
    @apply inline;
  }

  li p,
  li div,
  li h1,
  li h2 {
    @apply my-0;
  }

  hr {
    @apply my-6 border-foreground/20;
  }

  img,
  object {
    @apply rounded-xl border;
  }

  pre {
    @apply overflow-x-auto break-normal rounded-b-lg border-x border-b border-gray-200 bg-white p-3 text-left text-xs leading-slacker;
  }

  code {
    @apply whitespace-pre-wrap;
  }

  code .sh__line::before {
    counter-increment: sh-line-number 1;
    content: counter(sh-line-number);
    margin-right: 24px;
    text-align: right;
    color: #a4a4a4;
  }
}

@layer components {
  body {
    @apply bg-background;
  }
  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-foreground/10;
  }

  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-8 lg:px-8 lg:pb-16 lg:pt-24;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
  }

  .link {
    @apply text-blue-600 hover:underline hover:underline-offset-4;
  }

  .inline-code {
    @apply inline-block rounded-md bg-gray-100 px-0.5 py-0.5 text-sm not-italic before:content-['`'] after:content-['`'];
  }

  .thumbnail-shadow {
    box-shadow: 0 0 0 0.5px #e2e8f0, 0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px #f8fafc, 0 0 0 3.5px #f1f5f9,
      0 10px 15px -3px rgb(59 130 246/5%), 0 4px 6px -4px rgb(59 130 246/5%);
  }

  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden;
  }

  pre code {
    counter-reset: sh-line-number;
  }

  @layer utilities {
    .underline-offset-4 {
      text-underline-offset: 4px;
    }

    .word-break-word {
      word-break: break-word;
    }

    .px-safe {
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }

    /* .bg-r-shadow-gradient {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  } */

    /* .bg-top-gradient {
    --gradient-from: 247 185 85;
    --gradient-to: 255 0 128;
    --geist-background: #fff;
    background: linear-gradient(to top, var(--geist-background) 0, hsla(0, 0%, 100%, 0) 100%),
      linear-gradient(
        to right,
        rgb(var(--gradient-from, 192.5 192.5 192.5) / 0.08) 0,
        rgb(var(--gradient-to, 192.5 192.5 192.5) / 0.08) 100%
      );
    background-size: 100% 100%, 100% 100%, 1440px 1px;
    background-position: bottom;
    background-repeat: no-repeat;
  } */

    .bg-dots {
      background-image: radial-gradient(darkgray 1px, transparent 1px);
      background-size: 16px 16px;
    }

    .bg-grid {
      @apply bg-background bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
    }

    @keyframes scroll-tags {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* 
    .bg-dots-dark {
      background-image: radial-gradient(#222222 1px, transparent 1px);
      background-size: 16px 16px;
    }

    .bg-grid-dark {
      @apply bg-background bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
    } */

    [data-theme="dark"] {
      .bg-dots {
        background-image: radial-gradient(#303030 1px, transparent 1px);
        background-size: 16px 16px;
      }
    }
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-gray-500;
  }

  .token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-green-500;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-purple-500;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    @apply text-yellow-500;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    @apply text-blue-500;
  }

  .token.function,
  .token.class-name {
    @apply text-pink-500;
  }

  .token.regex,
  .token.important,
  .token.variable {
    @apply text-yellow-500;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-gray-800 dark:text-gray-200;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
